﻿@model Blog_So_4.Models
           {
<fieldset>
    <legend>Tag</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Content)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Content)
        @Html.ValidationMessageFor(model => model.Content)
    </div>


</fieldset>

}

